@import '../../App.scss';

.assistant__content {
  display: grid;
  grid-template: auto 1fr minmax(auto, 130px) / 1fr;
  gap: 30px;
  padding: 20px;
  @include adaptiv__FZ(40, 25, 1920, px);
  @media (max-width: 1450px) {
    display: flex;
    flex-direction: column;
  }
}

.assistant__title {
  padding-top: 50px;
}

.assistant__blur {
  filter: blur(7px);
}

.assitant__nav_mic {
  cursor: pointer;
  padding: 10px;
  background: $backgroundColorDefault;
  border-radius: 50%;
  color: transparent;
  border: $borderDefault;
  width: 105px;
  height: 110px;
  object-fit: cover;
}

.assistant__description_text {
  & a {
    color: red;
    cursor: pointer;
  }
}

.assistant__description_comands {
  border: $borderDefault;
  z-index: 2;
  position: absolute;
  top: 15%;
  width: 90%;
  left: 5%;
  height: 70%;
  background: linear-gradient(315deg, rgba(144, 0, 0, 0.742), rgba(0, 0, 0, 0.733) 95%);
  padding: 20px 60px;
  overflow: auto;
  overflow-x: hidden;
  white-space: pre-line;
  box-shadow: 0px 0px 25px red;
  display: flex;
  flex-direction: column;
  gap: 30px;
  @include adaptiv__FZ(40, 20, 1920, px);

  & span {
    text-align: center;
  }

  @media (max-width: 1450px) {
    top: 15%;
    height: 50%;
    @include adaptiv__FZ(40, 23, 1920, px);
  }

  @media (max-width: 580px) {
    padding: 50px 40px 20px 40px;
    height: 80%;
  }
}

.assistant__item {
  min-height: 250px;
}

.comands__closeButton {
  position: absolute;
  top: 5%;
  right: 5%;
  width: 40px;
  height: 40px;
  background: $backgroundColorDefault;
  cursor: pointer;
  border: 2px solid rgb(200, 0, 0);

  &::before {
    content: '';
    position: absolute;
    top: -3px;
    right: 45%;
    width: 3px;
    height: 40px;
    background-color: red;
    transform: rotate(45deg);
  }

  &::after {
    content: '';
    position: absolute;
    top: -3px;
    right: 45%;
    width: 3px;
    height: 40px;
    background-color: red;
    transform: rotate(-45deg);
    cursor: pointer;
  }

  @media (max-width: 580px) {
    top: 2%;
  }
}

._hiddenComands {
  display: none;
}

._activeMic {
  animation: micAnimation 0.7s infinite alternate;
  border: 3px solid white;
}

.assistant__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;

  & button {
    height: 90px;
    @include adaptiv__FZ(25, 20, 1920, px);
    padding: 0px 20px;
    width: 150px;
  }

  @media (max-width: 1450px) {
    flex-direction: column;
    justify-content: center;
  }
}

.assistant__error {
  @include adaptiv__FZ(40, 30, 1920, px);
  background: $backgroundColorDefault;
  border: $borderDefault;
  padding: 20px;
}

#assistant__status {
  text-decoration: underline;
}

.assitant__nav_notes {
  border: $borderDefault;
  background: $backgroundColorDefault;
}

._activeNotes {
  border: 3px solid white;
  box-shadow: 0px 0px 25px white;
}

@keyframes micAnimation {
  0% {
    box-shadow: 0px 0px 15px white;
  }

  100% {
    box-shadow: 0px 0px 40px white;
  }
}

._blueBG {
  background: linear-gradient(315deg, rgba(25, 0, 214, 0.596), rgba(0, 0, 0, 0.724) 95%);
}

._yellowBG {
  background: linear-gradient(315deg, rgba(251, 216, 18, 0.647), rgba(0, 0, 0, 0.724) 95%);
}

._orangeBG {
  background: linear-gradient(315deg, rgba(255, 106, 0, 0.647), rgba(0, 0, 0, 0.724) 95%);
}

._greenBG {
  background: linear-gradient(315deg, rgba(21, 211, 0, 0.647), rgba(0, 0, 0, 0.724) 95%);
}

._purpleBG {
  background: linear-gradient(315deg, rgba(163, 1, 222, 0.647), rgba(0, 0, 0, 0.724) 95%);
}

._cyanBG {
  background: linear-gradient(315deg, rgba(3, 154, 254, 0.795), rgba(0, 0, 0, 0.724) 95%);
}
