@import '../../../App.scss';

.selectedPage {
  background-color: $red-second-color;
  display: flex;
  align-items: center;
  justify-content: center;
}

.paginator {
  cursor: pointer;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding-top: 20px;
  @media (max-width: 568px) {
    flex-direction: column;
  }
  & a {
    width: 100%;
    max-width: 50px;
    line-height: 37px;
    font-size: 30px;
  }
}

.paginator__buttons {
  font-size: 30px;
  line-height: 40px;
}
