@import '../../App.scss';

.users__wrapper {
  display: flex;
  flex-direction: column;
  text-shadow: 0px 0px 5px rgb(0, 0, 0);

  @media (max-width: 1024px) {
    align-items: baseline;
  }
}

.users__bio_name {
  @include adaptiv__FZ(27, 25, 1920, px);
}

.users__profile {
  display: flex;
  gap: 15px;
  align-items: center;
  flex-direction: column;
  text-align: center;

  & button {
    line-height: 40px;
    font-size: 27px;
  }

  & img {
    height: 200px;
    max-width: 130px;
    width: 100%;
    object-fit: cover;
  }
}

.users__form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  & span {
    @include adaptiv__FZ(27, 25, 1920, px);
  }

  & input {
    height: 40px;
    max-width: 200px;
    width: 100%;
    font-size: 27px;
    border: $borderDefault;
  }

  & img {
    height: 40px;
    padding: 3px;
    width: 40px;
    object-fit: cover;
  }

  @media (max-width: 650px) {
    flex-direction: column;
  }

  @media (max-width: 650px) {
    & input {
      height: 50px;
    }
  }
}

.users__items {
  display: grid;
  flex: 1 0;
  width: 100%;
  align-items: center;
  justify-content: center;
  grid-template: auto 1fr auto / 1fr;
}

.users_search_button {
  height: 40px;
  @media (max-width: 650px) {
    width: 130px;
    height: 40px;
  }
}

.users__row {
  padding-top: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  @media (max-width: 1024px) {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  }
}

.users_not_found {
  text-align: center;
  font-size: 30px;
}
