@import '../../App.scss';

.cyberRiProjects__items {
  padding-top: 20px;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(440px, 1fr));
  @media (max-width: 580px) {
    display: flex;
    flex-direction: column;
  }
}

.cyberRiProjects__title {
  text-align: center;
  @include adaptiv__FZ(60, 20, 1920, px);
  @media (max-width: 1024px) {
    @include adaptiv__FZ(45, 30, 1024, px);
  }
  @media (max-width: 580px) {
    @include adaptiv__FZ(50, 20, 1024, px);
  }
}

.cyberRiProjects__item_img {
  position: relative;
  padding-bottom: 90%;
  & img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  @media (max-width: 1479px) {
    padding-bottom: 80%;
  }
  @media (max-width: 1024px) {
    padding-bottom: 80%;
  }
  @media (max-width: 580px) {
    padding-bottom: 130%;
  }
}